* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.buttons {
    display: flex;
    align-self: end;
    padding: 10px;
    gap: 5px;
}

main {
    display: flex;
    align-items: center;
    padding: 10px;
}

ul {
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(7, 1fr);
}

ul li {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
    list-style: none;
    display: flex;
    border-radius: 10px;
    border: 2px solid rgb(92, 85, 85);
    flex-direction: column  ;
}

ul li span {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


img {
    width: 100%;
}